#greetings p{
    background-color: blue;
    padding: 10px;
    display: none;
}
#greetings:hover p{
    display: block;
}


/* li:nth-child(3n + 2//can place variable here){
    background-color: yellow;
} */

/* li:hover{
    background-color: yellow;
}
li:not(:hover){
    background-color: green;
} */
/* a:link{
    color: lightblue;
}
a:hover{
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}
a:active{
    color: brown;
    font-size: 1.1em;
}
a:visitedP{
    color: violet;
} */